## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://docs.google.com/forms/d/e/1FAIpQLSdDzwpeJl8YLPwZaW8pBZvtuXY9kIbbZLqxcXyzFaoraV5JEA/viewform ]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [2]:
## 輸入資料
'''
你的程式碼
'''
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
 164, 173, 165, 163, 177, 171]
girls = [169, 183, 170, 168, 182, 170, 173, 185, 151, 156, 162, 169, 162, 181,
        159, 154, 167, 175, 170, 160]

In [6]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
'''
你的答案

平均身高上，女生比男生高
在中位數方面也是女生比男生高
全距則是男生比較大
'''
pd.DataFrame({'boy':boys, 'girl':girls}).describe()

              boy        girl
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [ ]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
'''
你的答案

女生
'''

'\n你的答案\n'

In [ ]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
'''
你的答案

不一致，一般都會認為男生比女生高，可能是抽取的時間不同(例如:小學或國中時女生發育比男生快)
'''

'\n你的答案\n'